/* Write your code here. */
.bgContainer {
  background-color: #0f172a;
  text-align: center;
  height: 100%;
  width: 70%;
  margin: 40px;
  padding: 20px;
}

.heading {
  font-family: Roboto;
  color: #f8fafc;
  font-size: 30px;
}

.images {
  height: 80px;
  width: 80px;
}
